body, html {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
  font-family: 'DIN Next LT Pro';
  overflow: hidden;
  color: white;
}

body {
  position: relative
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/mapa.jpeg) top left no-repeat;
  background-size: cover;
}

.weather-point {
  transform: scale(0);
  animation: growUp 1s forwards;
}

.weather-icon {
  width: 200px;
  height: 200px;
}

.clock_zone {
  position: absolute;
  top: 0;
  left: 132px;
  width: 236px;
  height: 288px;
  box-sizing: border-box;
  background: url(../img/clock_background.png) top left no-repeat;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform .5s;
}
.clock_zone.show {
  transform: translateY(0);
}
.title {
  position: absolute;
  top: 110px;
  left: 20px;
  font-family: 'DIN Next LT Pro Regular';
  font-size: 43.7px;
  line-height: 34px;
}
.clock {
  position: absolute;
  top: 168px;
  left: 20px;
  font-family: 'DIN Next LT Pro';
  font-weight: 600;
  font-style: normal;
  font-size: 70.84px;
  line-height: 50px;
}
.temp {
  position: absolute;
  top: 225px;
  left: 20px;
  font-family: 'DIN Next LT Pro Light';
  font-size: 70.84px;
  line-height: 50px;
}

@keyframes growUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
 }